/*welcomeimage*/
#welcome {
  margin: 0;
  padding: 0;
}

#welcome img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.welcome-image {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

/*/welcomeimage*/


/* body */
body {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url('../pictures/floor-tile.png') no-repeat center center/cover;
  background-size: 200px;
  background-repeat: repeat;
  cursor: url("https://cdn.custom-cursor.com/db/cursor/pointer_1426.png"), auto;

}

body:hover {
  cursor: url("https://cdn.custom-cursor.com/db/cursor/pointer_1426.png"), auto;
}

::selection {
  background: rgba(255, 255, 0, 0.5);
  color: black;
  cursor: url("https://cdn.custom-cursor.com/db/cursor/pointer_1426.png"), auto, auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

body.dark-mode::before {
  background-color: rgba(0, 0, 0, 0.6);
}

/*/body*/




/*navbar*/
.navbar-brand {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
}

.navbar {
  background-color: #f0ece2;
  /*efebe1;*/
}

.nav-item {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}


@media (max-width: 991.98px) {
  .navbar-mobile {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand img {
    margin: auto;
  }

  .nav-toggler-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;
  }

  .nav-text {
    display: inline;
  }
}

@media (min-width: 992px) {
  .nav-text {
    display: none;
  }
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #000;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: block;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  left: -0.05px;
}


.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

.custom-toggler.active .hamburger {
  background-color: transparent;
}

.custom-toggler.active .hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

.custom-toggler.active .hamburger::after {
  transform: rotate(-45deg);
  top: 0;
}

.custom-toggler {
  border: none;
  background: transparent;
  padding: 0.5rem;
  z-index: 1051;
}

.navbar-toggler {
  box-shadow: none !important;
}

.navbar-collapse {
  transition: all 0.3s ease;
}

.navbar-toggler {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-nav ms-auto {
  text-align: center;
  align-items: center;
}

.collapse navbar-collapse {
  text-align: center;
  align-items: center;
}

.navbar navbar-expand-lg navbar-light bg-light {
  text-align: center;
  align-items: center;

}


.navbar-toggler {
  text-align: center;
  align-items: center;
}

/*/navbar*/


/*harta*/
.map-container {
  width: 75%;
  height: 600px;
  border-radius: 10px;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*/harta*/


/*orar*/
.orar {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  width: auto;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.orar h2 {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  margin-bottom: 10px;
}

#status {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  color: green;
}

table {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
  font-size: 18px;
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;


}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.table thead {
  background: #333;
  color: white;
}

.table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.table tbody tr:hover {
  background: #ddd;
}

.table td.text-danger {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
}

/*/orar*/


/*footer*/
.footer {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #222;
  color: #ccc;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

.footer-left-wrapper {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.nume {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  color: white;
  font-size: 24px;
  margin: 0;
}

.footer-left {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  border-left: 2px solid white;
  padding-left: 2rem;
}

.footer-left-contact a {
  margin-right: 15px;
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.drepturi {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  margin-top: 1rem;
  font-size: 13px;
}

.footer-right {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  text-align: right;
}

.footer-right .social-icons a {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  margin: 0 10px;
  color: #901818;
  text-decoration: none;
  font-size: 16px;
}

.footer-right p {
  margin-top: 1rem;
  font-size: 13px;
}



@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left-wrapper {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .footer-left,
  .footer-right,
  .nume {
    width: 100%;
  }

  .footer-right {
    text-align: center;
    margin-top: 1rem;
  }

  .footer-right .social-icons {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-left-contact a {
    display: inline-block;
    margin: 5px 10px;
  }

  .drepturi {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    text-align: center;
    width: 100%;
  }


  .footer-left-contact {
    border-left: none;
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
  }
}

/*footer*/












/*media*/
@media (max-width: 768px) {

  .map-container {
    width: 85%;
    height: 400px;
    margin: 100px;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
    margin-right: 40px;
  }

  .map-container iframe {
    width: 100%;
    height: 100%;
    border: none;

  }

  .orar {
    width: 95%;
  }

  .welcome-image {
    max-width: 100%;
    height: 500px;
  }
}

/*/media*/